*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body{
    background-color: #ffeeca;
}

h2 {
    color: #231c00;
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    color: #231c00;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

 ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #231c00;
    font-size: 16px;
    line-height: 1.5;
 }

nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #fae5b9;
    border: #231c00 solid 3px;
    border-radius: 16px;
    width: fit-content;
    margin: 20px auto;
}

.nav-link{
    text-decoration: none;
    color: #231c00;
    background-color: #fcc142;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 16px;
    border: #231c00 solid 2px;
    border-radius: 8px;
    margin: 0 8px;
}

.nav-link:hover{
    background-color: #ffd478;
    box-shadow: 2px 2px 0px #231c00;
    transition: 0.3s;
}

header h1{
    font-size: 32px;
    text-align: center;
    margin: 20px 0;
}

.logo{
    display: block;
    margin: 20px auto;
    width: 100px;
}

.banner {
    background-image: url('https://lh3.googleusercontent.com/gps-cs-s/APNQkAEgQiiKVvAP4PhK6Rb0UMXZZWBJGC9lKYkzRLEZePKQNdE6DBhYTB5AakQCgbxXl6im8NZs7hZiuEGIz5X4T5kIi7z8_BmZIeGK3XZZepinRhgemnDFhWhkbaa2KhKSfVHNJz2b=s1360-w1360-h1020-rw');
    background-size: cover;
    background-position: center;
    margin: 20px 32px;
    width: auto;
    height: 400px;
    overflow: hidden;
    border-radius: 16px;
    border: #231c00 solid 3px;
    margin-bottom: 20px;
}

.banner h1{
    color: #231c00;
    font-size: 32px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 238, 202, 0.8);
    border-radius: 12px 12px 0 0;
    margin: auto;
}

.section-card{
    display: flex;
    flex-direction: column;
    background-color: #fae5b9;
    border: #231c00 solid 3px;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 32px;
}

.back-to-top{
    width: fit-content;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #fcc142;
    color: #231c00;
    font-weight: bold;
    font-size: 14px;
    border: #231c00 solid 2px;
    border-radius: 8px;
    text-decoration: none;
    align-self: flex-end;
}

.back-to-top:hover{
    background-color: #ffd478;
    box-shadow: 2px 2px 0px #231c00;
    transition: 0.3s;
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px 24px;
    background-color: #fae5b9;
    border: #231c00 solid 3px;
    border-radius: 16px;
    width: fit-content;
    margin: 20px auto;
}